<!DOCTYPE html>
<html>
<head>
    <title>Running Docker Containers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<style scoped>
    .button-error {
        color: white;
        background: rgb(202, 60, 60); /* this is a maroon */
    }
</style>
<body>
<div id="demo" style="padding: 1%">
    <div style="margin: 10px 0;float: left;width: 100%;">
        <div style="float:left;">Running Docker Containers: Last updated: {{lastUpdated}}</div>
        <button style="float:right;" v-on:click="fetchData" class="pure-button pure-button-primary">Refresh!</button>
    </div>
    <table class="pure-table" style="width: 100%">
        <thead>
        <tr>
            <th>ADB Port</th>
            <th>VNC Viewer</th>
            <th>Container Name</th>
            <th>Running Since</th>
            <th>Bamboo URL</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="record in running.data" class="pure-table-even">
            <td>{{record.adbPort}}</td>
            <td>
                <a :href="record.webPort | linker" target="_blank">Open VNC Viewer</a>

            </td>
            <td>{{record.containerName}}</td>
            <td>{{record.runningDuration}}</td>
            <td><a :href="record.jobUrl" target="_blank">Open Bamboo Build</a></td>
            <td>
                <button v-on:click="kill(record.containerName)" class="pure-button button-error">Kill</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button v-on:click="toggle()" class="pure-button button-error" style="margin-top: 20px; padding: 10px">{{configButtonText}}</button>
    <div v-if="!hideConfig" style="padding: 20px">
        <table class="pure-table" >
            <tbody>
        <tr v-for="item in config">
            <td>{{item.key}}</td>
            <td><textarea v-model="item.value" style="width: 260px; resize: none"></textarea></td>
           <td> <button v-on:click="saveConfig(item.key,item.value)" class="pure-button pure-button-primary" >Save</button> </td>
        </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var apiURL = "/andromeda/emulator";

    /**
     * Actual demo
     */

    var demo = new Vue({
        el: "#demo",

        data: {
            running: {},
            deleted: {},
            config : [],
            hideConfig : true,
            configButtonText:"Show Configuration",
            lastUpdated: Date()
        },
        created: function () {
            this.fetchData();
            this.timer = setInterval(this.fetchData, 60000)
            this.fetchConfig()
        },

        filters: {
            linker: function (value) {
                if (!value) return ''
                return window.location.protocol + "//" + window.location.hostname + ":" + value
            }
        },

        methods: {
            toggle:function() {
                this.hideConfig = !this.hideConfig
                if(this.hideConfig) {
                    this.configButtonText = "Show Configuration"
                } else {
                    this.configButtonText = "Hide Configuration"

                }
            },
            openVnc: function (port) {
                window.open(window.location.hostname + ":" + port)
            },

            saveConfig: function(key,value) {
                var xhr = new XMLHttpRequest();
                var self = this;
                xhr.open("POST","/andromeda/maintenance/configuration/");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onload = function () {
                    alert(xhr.responseText)
                    self.fetchConfig()
                };
                xhr.send("{\"key\":\""+key+"\""+",\"value\":"+"\""+value.trim()+"\""+"}");
            },
            fetchConfig: function () {
                var xhr = new XMLHttpRequest();
                var self = this;
                xhr.open("GET", "/andromeda/maintenance/configuration/");
                xhr.onload = function () {
                    self.config = JSON.parse(xhr.responseText);
                };
                xhr.send();
            },

            fetchData: function () {
                var xhr = new XMLHttpRequest();
                var self = this;
                xhr.open("GET", apiURL + "/running/");
                xhr.onload = function () {
                    self.running = JSON.parse(xhr.responseText);
                };
                xhr.send();
                self.lastUpdated = Date()
            },
            kill: function (containerName) {
                if (window.confirm("With great power comes great responsibility.\nDo you really want to kill and make the build fail?")) {
                    var xhr = new XMLHttpRequest();
                    var self = this;
                    xhr.open("DELETE", apiURL + "/" + containerName);
                    xhr.onload = function () {
                        self.deleted = JSON.parse(xhr.responseText);
                        alert(self.deleted.data);
                    };
                    xhr.send();
                    this.fetchData();
                }

            }
        }
    });
</script>
</body>
</html>
